<%= link_to 'Back to tasks', tasks_path, class: "btn btn-outline-primary m-3" %>
<div class="m-3">
  <h1><%= @task.description %></h1>
</div>

<%= link_to "Edit", edit_task_path(@task), class: "btn btn-outline-primary m-3" %>
